html,
body{
	width: 100%;
	height: 100%;
}

body{
	position: relative;
}

.section{
	width: 100%;
	height: 100%;
	position: relative;
}

.section-nav{
	background: #1abc9c;
	transition: height 0.6s, background 0.2s;
	-webkit-transition: height 0.6s, background 0.2s;
	-moz-transition: height 0.6s, background 0.2s;
	-o-transition: height 0.6s, background 0.2s;
}

.full{	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;	
	background: #1abc9c;	
	z-index: 10000;
}

.menu{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 12%;	
	z-index: 10000;
}


.logo{
	width: 20%;
	height: 15%;
	position: absolute;
	bottom: 30%;
	left: 5%;
	background: #f1c40f;
	-webkit-transition: width 0.2s, height 0.2s, bottom 0.2s, left 0.2s;
	-o-transition: width 0.2s, height 0.2s, bottom 0.2s, left 0.2s;
	transition: width 0.2s, height 0.2s, bottom 0.2s, left 0.2s;
	-webkit-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.menu .logo{
	width: 7%;
	height: 100%;
	bottom: 0;
	left: 0;	
}

.menu .nav{
	width: 50%;
	height: 40%;
	bottom: 30%;
	left: 45%;
}

.nav{
	width: 50%;
	height: 10%;
	position: absolute;
	bottom: 15%;
	left: 5%;
	background: #2c3e50;
	-webkit-transition: width 0.2s, height 0.2s, bottom 0.2s, left 0.2s;
	-o-transition: width 0.2s, height 0.2s, bottom 0.2s, left 0.2s;
	transition: width 0.2s, height 0.2s, bottom 0.2s, left 0.2s;
	-webkit-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.scroll-to{
	position: absolute;
	bottom: 0;
	left: 46.5%;
	display: block;
	width: auto;
	height: auto;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.1em;
	font-weight: 900;
	color: #fff;
	padding: 2%;
	z-index: 20000;
}


.section-1{
	padding-top: 20%;
	background: #2ecc71;
}

.section-2{
	background: #3498db;
}






/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}